body {
    font-weight: bold;
}

body.normal {
    background-color: cornflowerblue;
}

div.card {
    width: 650px;
    margin: 15px auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

div.ci-info {

}

body.dependencyDown {
    background-color: purple;
}

body.ciFailed {
    background-color: red;
}

body.storyRejected {
    background-color: firebrick;
}

body.storyAcceptanceDeployFailed {
    background-color: coral;
}

body.storyAcceptanceDown {
    background-color: darkorange;
}

body.productionDeployFailed {
    background-color: crimson;
}

body.productionDown {
    background-color: darkred;
}