body {
    font-weight: bold;
}

div.card {
    width: 650px;
    margin: 15px auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
}

.normal {
    background-color: cornflowerblue;
}

.dependencyDown {
    background-color: purple;
}

.ciFailed {
    background-color: red;
}

.storyRejected {
    background-color: firebrick;
}

.storyAcceptanceDeployFailed {
    background-color: coral;
}

.storyAcceptanceDown {
    background-color: darkorange;
}

.productionDeployFailed {
    background-color: crimson;
}

.productionDown {
    background-color: darkred;
}