<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${status}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="refresh" content="7"/>
    <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body th:class="${backgroundColor}">

    <div class="ci-info card">
        <h2 th:text="|Test Build:|" />
        <p class="ci-build-status" th:text="|CI Status: ${status}|"/>
    </div>

    <div class="story-acceptance-info card">
        <h2>Story Acceptance:</h2>
        <p class="story-acceptance-story">
            Story Currently Deployed in Story Acceptance:
            <a th:text="|${storyAcceptanceDeployedStoryID}|" th:href="|https://www.pivotaltracker.com/story/show/${storyAcceptanceDeployedStoryID}|"/>
        </p>
        <p class="story-acceptance-sha">
            SHA Currently Deployed in Story Acceptance:
            <a th:text="|${storyAcceptanceDeployedSHA}|" th:href="|https://github.com/${githubUsername}/${githubProjectName}/commit/${storyAcceptanceDeployedSHA}|" />
        </p>
        <div class="acceptance-story-status" th:switch="${storyStatus}">
            <p th:case="'rejected'">
                Story deployed in acceptance has been rejected!
            </p>
            <p th:case="'accepted'">
                Story deployed in acceptance has been accepted!
            </p>
            <p th:case="*">
                Story deployed awaiting decision.
            </p>
        </div>

        <p class="last-story-acceptance-deploy" th:text="|Last Deploy to Story Acceptance was: ${storyAcceptanceDeployResponse}|"/>
    </div>

    <div class="productionInfo card">
        <h2 th:text="|Production:|" />
        <p class="production-story">
            Story Currently Deployed in Production:
            <a th:text="|${productionDeployedStoryID}|" th:href="|https://www.pivotaltracker.com/story/show/${productionDeployedStoryID}|"/>
        </p>
        <p class="production-sha">
            SHA Currently Deployed in Production:
            <a th:text="|${productionDeployedSHA}|" th:href="|https://github.com/${githubUsername}/${githubProjectName}/commit/${productionDeployedSHA}|" />
        </p>
        <p class="last-production-deploy" th:text="|Last Deploy to Production was: ${productionDeployResponse}|"/>
    </div>
    <div class="production-revert">
        <form action="/" method="post" name="balls">
            <input type="submit" th:if="${productionRevertFlag}" disabled="disabled" value="Reverting Production Build"/>
            <input type="submit" th:unless="${productionRevertFlag}" value="Revert Production Build"/>
        </form>
    </div>
</body>
</html>