<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${status}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="refresh" content="7"/>
    <link href="../static/css/app.css" th:href="@{/css/app.css}" rel="stylesheet"/>
</head>
<body th:class="${backgroundColor}">

    <h2 th:text="|Test Build:|" />
    <p th:text="|CI Status: ${status}|"/>

    <h2 th:text="|Story Acceptance:|" />
    <p class="story-acceptance-story">
        Story Currently Deployed in Story Acceptance:
        <a th:text="|${storyAcceptanceDeployedStoryID}|" th:href="|https://www.pivotaltracker.com/story/show/${storyAcceptanceDeployedStoryID}|"/>
    </p>
    <p>
        SHA Currently Deployed in Story Acceptance:
        <a th:text="|${storyAcceptanceDeployedSHA}|" th:href="|https://github.com/${githubUsername}/${githubProjectName}/commit/${storyAcceptanceDeployedSHA}|" />
    </p>
    <div th:switch="${storyStatus}">
        <p th:case="'rejected'">
            Story deployed in acceptance has been rejected!
        </p>
        <p th:case="'accepted'">
            Story deployed in acceptance has been accepted!
        </p>
        <p th:case="*">
            Story deployed awaiting decision.
        </p>
    </div>

    <p th:text="|Last Deploy to Story Acceptance was: ${storyAcceptanceDeployResponse}|"/>

    <h2 th:text="|Production:|" />
    <p class="production-story">
        Story Currently Deployed in Production:
        <a th:text="|${productionDeployedStoryID}|" th:href="|https://www.pivotaltracker.com/story/show/${productionDeployedStoryID}|"/>
    </p>
    <p>
        SHA Currently Deployed in Production:
        <a th:text="|${productionDeployedSHA}|" th:href="|https://github.com/${githubUsername}/${githubProjectName}/commit/${productionDeployedSHA}|" />
    </p>
    <p th:text="|Last Deploy to Production was: ${productionDeployResponse}|"/>
</body>
</html>